*{
  box-sizing: border-box;
  font-family: 'Assistant', sans-serif;
}

body {
  margin: 0;
}

img{
  display: block;
}

h1{
  background-color: yellow;
}

h2{
  background-color: lime;
  margin: 0px;
  font-size: 28px;
  font-weight: 700;
}

p{
  background-color: purple;
  margin: 0px;
}

#logo{
  position: relative;
  top: 0px;
  left: 0px;
  height: 24px;
}

.topnav {
  overflow: hidden;
  background-color: #ed5244;
}

.topnav a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 11px 16px;
  text-decoration: none;
  font-size: 19px;
  font-weight: 500;
}
#logo_topnav_override{ /* overrides ".topnav a" styles (above) for the logo */
  padding: 11px 16px;
}

.topnav a:hover {
  background-color: #ed6044;
}

.topnav .icon {
  display: none;
}

/* Qiqi's additions for Programs page*/

#rightCol {
  background-color: tan
}

.circleframe {
  /*display: inline-block;*/
  float: left;
  position: relative;
  width: 105px;
  height: 105px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}

.circleframe img {
  width: auto;
  height: 100%;
  margin-left: -10px;
}

/*end Qiqi*/

/* DEFUNCT
#homeImg{
    height: 400px;
    background-color: yellow;
} */

/* content wrappers; all sections */

.oneCol{                        /* delete; or use to give full width background color to welcome text box */
}

#leadImgText{
  position: relative;
}
#leadText{
  position: absolute;
  text-align: right;
  font-size: 60px;
  font-weight: 800;
  background-color: white;
}
#intro{                         /* orange background for homepage intro text */
  background-color: #ed5244;
}
#intro>div{                     /* intro typographic controls */
  font-weight: 100;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 32px;
  color: white;
  padding-top: 25px; padding-bottom: 25px;    /* let left and right match rest of page; don't control here */
                                              /* this overrides the other padding */
}

.twoCol{                   /* remove color */
    background-color: green;
    margin: auto;
    width: 900px;
}


/* contents; all divs */
.oneCol>div{
    box-sizing: border-box;
    margin: auto;
    width: 900px;
    padding: 18px;
}
.twoCol>div{
    background-color: pink;
    box-sizing: border-box;
    margin: auto;
    width: 50%;
    float: left;
    padding: 18px;
}

/* FIXED MARGIN DESKTOP SIZE */
@media screen and (max-width: 980px) {

    .oneCol>div, .twoCol{
        width: calc(100% - 80px);
    }

}

/* TABLET SIZE (HAMBURGER APPEARS) */
@media screen and (max-width: 650px) {

    /* header */
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
      }
      .topnav.responsive {
        position: relative;
    }
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
      }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    /* two column -> one */
    .twoCol>div{
        width: 100%;
    }

}

/* MOBILE SIZE */
@media screen and (max-width: 450px) {

    .oneCol>div, .twoCol{
        width: 100%;
    }

}
